{% extends "header.html" %}

{% block content %}

<div class="separator"></div>
<form action="#" method="post">
  <div class="siimple-form">
    <div class="siimple-form-title">Add a new lens</div>
    <div class="siimple-form-detail">Fill the form to add a new lens to the database.</div>
		<br>

    <div class="siimple-form-field">
       <div class="siimple-form-field-label">Lens name</div>
       <input type="text" class="siimple-input lens-name" name="name" placeholder="Lens name" required>
    </div>

		<div class="siimple-form-field">
	     <div class="siimple-form-field-label">Description</div>
	     <textarea class="siimple-textarea lens-description" name="description" placeholder="A short description of the lens..." required></textarea>
	  </div>
    
    <div class="siimple-form-field">
       <div class="siimple-form-field-label">Picture</div>
       <input type="text" class="siimple-input picture-field" name="picture" placeholder="https://" required>
    </div>

		<div class="siimple-form-field">
			 <div class="siimple-form-field-label">Price</div>
     		<span class="dollar-sign">&#36; </span>
     		 <input type="number" class="siimple-input" name="price" placeholder="USD" min="0" step="0.01" required>
		</div>
		<br>

		<label class="siimple-label">Select lens mount: </label>
		<select class="siimple-select" name="category">
			{% for category in categories %}
				<option value="{{category.id}}">{{category.name}}</option>
			{% endfor %}
		</select>

		<div class="siimple-form-field">
			<input type="submit" class="siimple-btn siimple-btn--blue lens-submit" value="Submit" onclick="myFunction()">
		</div>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}

      <div class="siimple-tip siimple-tip--yellow siimple-tip--exclamation">
        {{ message }}
      </div>

      {% endfor %}
    {% endif %}
  {% endwith %}
</form>

<div class="siimple-footer" align="center">
  <a href="/">
    <div class="siimple-close"></div>
  </a>
</div>

{% endblock %}
