{% extends "header.html" %}

{% block content %}

<div class="siimple-box siimple-box--white">
  <div class="siimple-box-subtitle">Deleting lens</div>
</div>

<form action="#" method="post">
  <div class="siimple-tip siimple-tip--red siimple-tip--exclamation">
    Are you sure you want to delete "{{categoryItem.name}}"?
  </div>

  <div class="siimple-form-field">
    <input type="submit" class="siimple-btn siimple-btn--teal lens-submit" value="Yes">
  </div>
</form>

<div class="siimple-footer" align="center">
  <a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
    <div class="siimple-close"></div>
  </a>
</div>

{% endblock %}
