{% extends "header.html" %}

{% block content %}

<div class="siimple-box siimple-box--white">
  <div class="siimple-box-title">{{categoryItem.name}}</div>
  <div class="siimple-box-subtitle">{{categoryName}} mount</div>
	<img src="{{categoryItem.picture}}" alt="{{categoryItem.name}}" class="main-picture">
  <div class="siimple-box-detail large-description">{{categoryItem.description}}</div>
	<div class="siimple-h5">$ {{categoryItem.price}}</div>
</div>

{% if 'username' in session and creator.id == session['user_id'] %}
  <div class="buttons">
    <div class="siimple-grid">
      <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6">
          <a href="{{url_for('editCategoryItem', catalog_id = categoryItem.category_id, item_id = categoryItem.id)}}" class="siimple-btn siimple-btn--teal">Edit</a>
        </div>
        <div class="siimple-grid-col siimple-grid-col--6">
          <a href="{{url_for('deleteCategoryItem', catalog_id = categoryItem.category_id, item_id = categoryItem.id)}}" class="siimple-btn siimple-btn--pink">Delete</a>
		    </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="buttons">
    <div class="siimple-grid">
      <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6">
          <div class="siimple-btn siimple-btn--disabled">Edit</div>
		   </div>
        <div class="siimple-grid-col siimple-grid-col--6">
          <div class="siimple-btn siimple-btn--disabled">Delete</div>
		    </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="siimple-footer" align="center">
  <a href="{{url_for('showCategory', catalog_id = categoryItem.category_id)}}">
    <div class="siimple-close"></div>
  </a>
</div>

{% endblock %}
