{% extends "header.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="siimple-tip siimple-tip--teal">
		  {{ message }}
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="siimple-box siimple-box--white">
  <div class="siimple-box-subtitle">{{categoryName}} mount</div>
	<div class="siimple-box-detail">({{categoryItemsCount}} lenses)</div>
</div>

<div class="siimple-grid">
  <div class="siimple-grid-row">
		{% for categoryItem in categoryItems %}
		  <div class="item-box siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12 siimple-grid-col-lg--6">
			  <div class="siimple-h4">{{categoryItem.name}}</div>
				<img src="{{categoryItem.picture}}" alt="{{categoryItem.name}}" class="picture">
        <br><br>
				<p class="siimple-p">{{categoryItem.description}}</p>
				<div class="siimple-h5">$ {{categoryItem.price}}</div>
        <a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}" class="siimple-btn siimple-btn--purple">Details</a>
		   </div>
		{% endfor %}
  </div>
</div>

{% if 'username' in session %}
  <div class="add-item">
    <a href="{{url_for('addCategoryItem')}}" class="siimple-link">Add a new lens</a>
	</div>
{% endif %}

<div class="siimple-footer" align="center">
  <a href="/">
    <div class="siimple-close"></div>
	</a>
</div>

{% endblock %}
